/* car rental service home page css starts here */
.logo{
    position: absolute;
    top:35px;
    left: 25px;

}

.Loginbutton{
    width: 180px;
    height: 40px;
    font-size: 20px;
    right: 50%;
    border-radius: 8px;
    background-color: red;
    border: 2px solid #ff0000;
    transition-duration: 0.4s;
    position: absolute;
    top: 10px;
    right: 0px;
    cursor: pointer;
}
.Loginbutton:hover {
  background-color: #000000;
  color: rgb(255, 0, 0);
}

.Signupbutton{
    width: 180px;
    height: 40px;
    font-size: 20px;
    right: 50%;
    border-radius: 8px;
    background-color: red;
    border: 2px solid #ff0000;
    transition-duration: 0.4s;
    position: absolute;
    top: 10px;
    right: 190px;
    cursor: pointer;
    
}
.Signupbutton:hover {
  background-color: #000000;
  color: rgb(255, 0, 0);
}

    
body{
    background-color:rgb(0, 0, 0);
    
}

.texts{
    color: aliceblue;
    font-family: 'Brush Script MT', cursive;
    font-size: 50px;
    position: relative;
    top: 0px;
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(206, 57, 57),
    0 0 82px rgb(206, 57, 57),
    0 0 92px rgb(206, 57, 57),
    0 0 102px rgb(206, 57, 57),
    0 0 151px rgb(206, 57, 57);
}

.verticalline {
    border-left: 6px solid rgb(252, 252, 252);
    height: 430px;
    position: absolute;
    left: 790px;
    top: 470px;
}

.bookingbutton{
    width: 180px;
    height: 40px;
    font-size: 20px;
    right: 50%;
    border-radius: 8px;
    background-color: red;
    border: 2px solid #ff0000;
    transition-duration: 0.4s;
    position: absolute;
    top: 70px;
    right:0px;
    cursor: pointer;
}
.bookingbutton:hover {
    background-color: #000000;
    color: rgb(255, 0, 0);
}

.popularbutton{
    width: 180px;
    height: 40px;
    font-size: 20px;
    right: 50%;
    border-radius: 8px;
    background-color: red;
    border: 2px solid #ff0000;
    transition-duration: 0.4s;
    position: absolute;
    top: 70px;
    right:190px;
    cursor: pointer;

}
.popularbutton:hover {
    background-color: #000000;
    color: rgb(255, 0, 0);
}


.loginform{
    width: 350px;
    padding: 30px 20px;
    background-color:rgb(0, 0, 0);
    position: absolute;
    left: 50%;
    top:-50%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 0px 10px 3px #ff0000;
    transition: 1s;
    z-index: 1;
    color:white;
    font-family: 'Brush Script MT', cursive;
    
}

.loginform input{
    width: 100%;
    height: 35px;
    margin-bottom: 15px;
}

.loginform button{
    background-color: red;
    color:white;
    padding: 10px 15px;
    cursor: pointer;

}

.loginform span{
    position: absolute;
    right: 0px;
    width: 30px;
    color:white;
    line-height: 30px;
    cursor: pointer;
    height: 30px;
    background-color: rgb(255, 0, 0);
    text-align: center;
    top: 0px;

}

.showloginform{
    top: 50%;
}


.newline{
    border: 4px solid;
    color: white;
    width: 100%;
}

.newzline{
    border: 4px solid;
    color: white;
    width: 100%;
}

.ferrari{
    width:525px;
    height: 280px;
    transition: 1s ease;
}
.ferrari:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
    }

.mclaren{
    width:525px;
    height: 280px;
    transition: 1s ease;
    align-items: center;
}
.mclaren:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
    }

.bugatti{
    transition: 1s ease;
    right:0px;
}
.bugatti:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
    }

.dropdown{
    width: 500px;
    height: 30px;
    position: absolute;
    bottom: 360px;
    left: 130px;
    font-family: Arial;
    font-size: 23px;
    cursor: pointer;
}
.dropdown:hover {
    cursor: pointer;
    background-color: #b2b2b2;
}
.dropdown.selected {
    color: #ffffff;
    background-color: #305c91;
    cursor: pointer;
}

.date{
    position: absolute;
    bottom: 250px;
    color: white;
    left: 130px;
    height: 30px;

}

.date-text{
    color: white;
    position: absolute;
    bottom: 290px;
    left: 130px;
    font-family: Arial;
    font-size: 23px;
}

.date-drop{
    position: absolute;
    bottom: 258px;
    left: 480px;

}

.drop-text{
    position: absolute;
    color:white;
    bottom: 290px;
    left: 480px;
    font-family: Arial;
    font-size: 23px;
}

.purpose{
    position: absolute;
    font-family: Arial;
    width: 500px;
    height: 30px;
    left: 130px;
    font-size: 23px;
    cursor: pointer;
    bottom: 180px;
}
.purpose:hover {
    cursor: pointer;
    background-color: #b2b2b2;
}
.purpose.selected {
    color: #ffffff;
    background-color: #305c91;
    cursor: pointer;
}

.popular{
    position: absolute;
    right: 140px;
    color:white;
    font-family: 'Brush Script MT', cursive;
    font-size: 50px;
    
}

.carzshowroom1{
    position: absolute;
    width:325px;
    height: 160px;
    right: 470px;
    bottom: 190px;

}

.carzshowroom2{
    position: absolute;
    width:325px;
    height: 160px;
    right: 0px;
    bottom: 190px;

}

.carzshowroom3{
    position: absolute;
    width:325px;
    height: 160px;
    right: 0px;
    bottom: 10px;

}

.carzshowroom4{
    position: absolute;
    width:325px;
    height: 160px;
    right: 470px;
    bottom: 10px;

}

.carsname{
    position: absolute;
    font-family: Arial;
    width: 500px;
    height: 30px;
    left: 130px;
    font-size: 23px;
    cursor: pointer;
    bottom: 100px;
}
.carsname:hover {
    cursor: pointer;
    background-color: #b2b2b2;
}
.carsname.selected {
    color: #ffffff;
    background-color: #305c91;
    cursor: pointer;
}

.hint{
    position: absolute;
    bottom: 134px;
    left: 130px;
    font-family: Arial;
    color:red;
}

.buynow{
    width: 180px;
    height: 40px;
    font-size: 20px;
    border-radius: 8px;
    background-color: rgb(0, 0, 0);
    border: 2px solid greenyellow;
    transition-duration: 0.4s;
    position: absolute;
    bottom: 40px;
    left: 280px;
    cursor: pointer;
    color:green;
}
.buynow:hover {
  background-color: green;
  color: greenyellow;
}


                                    /* car collection page css begin here */

.one{
    position: absolute;
    width:50%;
    left:0%;
    top: 10px;
    padding: 0px;
}
.two{
    position: absolute;
    width:50%;
    right:0%;
    top: 10px;
    padding: 0px;
}
.three{
    position:absolute;
    width:50%;
    left:0%;
    top: 550px;
    padding: 0px;
}
.four{
    position:absolute;
    width:50%;
    right:0%;
    top: 550px;
    padding: 0px;
}
.five{
    position:absolute;
    width:50%;
    left:0%;
    top: 1000px;
    padding: 0px;
}
.six{
    position:absolute;
    width:50%;
    right:0%;
    top: 1000px;
    padding: 0px;
}
.seven{
    position:absolute;
    width:50%;
    left:0%;
    top: 1530px;
    padding: 0px;
}
.eight{
    position:absolute;
    width:50%;
    right:0%;
    top: 1530px;
    padding: 0px;
}
.nine{
    position:absolute;
    width:50%;
    left:0%;
    top: 2000px;
    padding: 0px;
}
.ten{
    position:absolute;
    width:50%;
    right:0%;
    top: 2000px;
    padding: 0px;
}
.eleven{
    position:absolute;
    width:50%;
    left:0%;
    top: 2530px;
    padding: 0px;
}
.twelve{
    position:absolute;
    width:50%;
    right:0%;
    top: 2530px;
    padding: 0px;
}

                                    /* Third Page CSS Starts From Here */
.members{
    color: aliceblue;
    font-family: 'Brush Script MT', cursive;
    font-size: 60px;
    position: relative;
    top: 0px;
    color:red;
}


.firstmember{
    position:absolute;
    width:25%;
    height: 45%;
    top:20%;
    left:70px

}

.secondmember{
    position:absolute;
    width:25%;
    height:45%;
    top:20%;
    right:70px

}

.thirdmember{
    position:absolute;
    width:25%;
    height:45%;
    top:20%;
    right:600px;

}

.name{
    position:absolute;
    color:red;
    left:110px;
    top: 540px;
    font-family: 'Brush Script MT', cursive;
    font-size: 50px;

}

.name1{
    position:absolute;
    color:red;
    right:710px;
    top: 540px;
    font-family: 'Brush Script MT', cursive;
    font-size: 50px;

}

.name2{
    position:absolute;
    color:red;
    right:145px;
    top: 540px;
    font-family: 'Brush Script MT', cursive;
    font-size: 50px;

}
